.luzesBody {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding-top: 120px;
    background: var(--bgOne);
}

.luzesContent {
    padding: 15px;
    margin-top: 50px;
}

.luzesBody h1 {
    padding: 40px 10px;
    width: 100%;
    text-align: center;
    background: var(--bgTwo);
    color: var(--white);
    font-size: 2.25rem;
    font-weight: 400;
}

.luzesBody p {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--gray);
    cursor: text;
    text-align: center;
    margin: 40px 20px;
}

.luzesContent h2 {
    margin: 5px 0;
    font-weight: 600;
    font-size: 2rem;
    color: var(--white);
}

.luzesContent p {
    font-size: 1.5rem;
    margin: 5px 0 0 0;
    font-weight: 400;
    color: var(--gray);
    cursor: text;
    text-align: start;
    margin-bottom: 30px;
}

.luzesContent h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.60rem;
    color: var(--grayTwo);
}

.luzesContent h4 {
    font-weight: 600;
    font-size: 1rem;
    color: var(--whiteTwo);
}

.imgLight {
    padding: 10px;
}

.imgLight img {
    width: 100%;
}

@media (min-width: 700px) {
    .luzesContent {
    padding-left: 70px;
    width: 60%;
    }

    .luzesContent h3 {
        margin-top: 70px;
    }

    .imgText {
        display: flex;
    }

    .imgText img {
        margin-right: 10px;
        height: 100%;
    }

    .imgLight img {
        max-height: auto;
        width: auto;
    }

    .imgLight {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}