.bankBody {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    padding: 120px 15px 0 15px;
    background: var(--bgOne);
}

.bankBody h1 {
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 2.25rem;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 50px;
}

.bankBody p {
    font-size: 1.5rem;
    margin: 5px 0 0 0;
    font-weight: 400;
    color: var(--gray);
    cursor: text;
    text-align: center;
    padding-bottom: 30px;
}

.qrcodeBank {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 30px;
    background: var(--bgOne);
}

.qrcodeBank img {
    width: 100%;
    max-width: 50vh;
    border-radius: 8px;
    box-shadow: 0 0 8px black;
}

.textBank {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgOne);
    padding: 20px 15px 40px;
}

.textBank a {
    text-align: center;
    background: var(--bgTwo);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--gray);
    cursor: text;
}

@media (min-width: 700px) {
    .bankBody h1 {
        padding: 30px 20% 50px 20%;
    }

    .bankBody p {
        padding: 0 80px;
    }
}